# Flutter/Dart specific
**/build/
.dart_tool/
.flutter-plugins
.packages
.pub/
.pub-cache/
.vscode/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
macos/Flutter/Flutter.podspec
macos/Pods/
macos/Runner.xcworkspace/
android/.gradle/
android/app/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
*.iml
*.lock
*.log
*.tmp
*.swp
.idea/
*.pbxuser
*.xcworkspace
*.xcworkspace/
*.xcuserdatad/
.DS_Store
doc/api/
doc/client/
doc/server/
web/